<!-- Modal for viewing messages -->
<div id="message-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Messages in <span id="queue-name-title"></span></h2>
            <span class="close">&times;</span>
        </div>
        <div id="messages-container"></div>
    </div>
</div>