<div class="tabs">
    <button class="tab active" data-tab="overview">Overview</button>
    <button class="tab" data-tab="queues">Queues</button>
    <button class="tab" data-tab="exchanges">Exchanges</button>
    <button class="tab" data-tab="bindings">Bindings</button>
    <button class="tab" data-tab="publish">Publish Message</button>
</div>